body {
  background-color: #111316;
  color: white;
  overflow-y: hidden;
  font-family: 'Lexend Deca' , sans-serif;
}

.back-btn{
  font-size: 2rem;
  color: white;
}

.back-btn:hover {
  cursor: pointer;
}

/* Landing Page Start */

.landing{
  display: none;
}

.main{
  background-color: #111316;
  height: 100vh;
}

.logo{
  margin-top: 6rem;
}

.head{
  font-size: 3.5rem;
  color: white;
}

.buttons{
  border-radius: 50px;
  background-color: white;
  border: none;
  color: #111316;
  font-size: 1.3rem;
  width: 15rem;
  height: 3.5rem;
}

.settings{
  width: 100%;
  position: absolute;
  bottom: 3rem;
}

.settings a:hover{
  color: white;
}

.icon{
  color: white;
  font-size: 2.5rem;
}

.icon:hover {
  cursor: pointer;
}

/* Landing Page End */

/* Profile Page Start */

.profile{
  display: none;
}

.logo-pfp{
margin-top: 5rem;
}


.pfp-head{
  font-size: 3.5rem;
  color: white;
}

input{
  color: gray;
  border-radius: 50px;
  width: 20rem;
  font-size: 1.1rem;
  border: none;
  padding: 10px 15px;
}

input:focus{
  outline: none;
}

/* Profile Page End */

/* Create Page Start */

.create{
  display: none;
}

.create-col{
  margin-top: 14rem;
}

.dragDrop{
  margin: auto;
  text-align: left;
  background-color: white;
  color: gray;
  border-radius: 50px;
  width: 20rem;
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  padding: 10px 15px;
}

/* Create Page End */

/* Join Page Start */

.join{
  display: none;
}

.join-col{
  margin-top: 16rem;
}

/* Join Page End */

/* Room Page Start */

.room{
  display: none;
}

.left-side{
  margin-left: -4rem;
}

.right-side{
  margin-right: 1rem;
}


.leave-btn{
  margin-top: 1rem;
  background-color: #dc3545;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 1.2rem;
  width: 11rem;
  height: 3rem;
}

.video{
  width: 98%;
  height: 40rem;
  border-radius: 30px;
}

#video-player{
  width: 100%;
  height: 100%;
  background: none;
}

/* #loader {
  margin: auto;
  margin-top: 30px;
  height: 60px;
  width: 60px;
  text-align: center;
} */

.chat{
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(255,255,255,0.05));
  border: rgba(255, 255, 255, 0.30) 2px solid;
  width: 98%;
  height: 90%;
  position: relative;
  border-radius: 30px;
}

.pfp-small{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50px;
}

.messages{
  height: 31rem;
  overflow-y: scroll;
}

.chattimg{
  position: absolute;
  bottom: 10px;
}

.message{
  padding-left: 2.6rem;
  text-align: left;
  font-size: 0.9rem;
}

.message span{
  color: rgb(216, 208, 208);
  font-size: 1rem;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: rgb(73, 73, 73);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 50px;
}


.send-box{
  width: 3rem;
  height: 3rem;
  background-color: rgb(59, 58, 58);
  border-radius: 10px;
}

.send-box:hover{
  cursor: pointer;
}

.send{
  margin-top: 0.8rem;
  font-size: 1.3rem;
}

#messageInp{
  border-radius: 10px;
  color: white;
  background-color: gray;
  margin-left: 1rem;
}

#messageInp::placeholder{
  color: white;
  font-size: 0.8rem;
}

/* Room Page End */
